.outer {
  svg {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    width: 100%;
    max-width: 500px;

    path,
    g {
      transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }
  }
}
