.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button:disabled {
  color: var(--secondary) !important;
}

.label {
  margin: 0 1em;
  font-weight: bold;

  span {
    color: var(--secondary);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-gap: 20px;
  margin-top: 10px;
}
