:root {
  --display: "Red Hat Text", sans-serif;
  --serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, "Lato", Arial, "Lucida Grande", sans-serif;
  --primary: #111;
  --secondary: rgba(17, 17, 17, 0.6);
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fff;
    --secondary: rgba(255, 255, 255, 0.6);
    --background: #111;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  background: var(--background);
  color: var(--primary);
  height: 100%;
}

body {
  font-family: var(--serif);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
